$black-light: #393E46;
$black-dark: #222831;
$white: #eee;
$green: #00ADB5;
$green-light: #5cb85c;
@mixin fast($property:all, $duration:.5s, $delay:0s) {
  transition: $property $duration cubic-bezier(0,1,0,1) $delay;
}
@mixin slow($property:all, $duration:.5s, $delay:0s) {
  transition: $property $duration cubic-bezier(.5,0,1,.5) $delay;
}
$slow: all;
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  background-color: $black-dark;
}
a {
  text-decoration: none;
}
#view {
  display: flex;
  flex-direction: column;
  width: 800px;
}
#header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 200px;
  background-color: $black-dark;
  #name {
    position: absolute;
    margin: 0;
    top: 0;
    width: 100%;
    height: 140px;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    @include fast();
    h1 {
      margin: 0;
      height: 80px;
      line-height: 80px;
      font-size: 48px;
    }
    h2 {
      margin: 0;
      height: 60px;
      line-height: 30px;
      font-size: 32px;
    }
    a {
      color: $white;
    }
  }
  #avatar {
    display: flex;
    width: 100%;
    height: 140px;
    justify-content: center;
    align-items: center;
    opacity: 1;

    @include slow();
    p {
      margin: 0;
      padding: 0;
      height: 120px;
      line-height: 120px;
      font-size: 32px;
    }
    img {
      transform: rotate(0);
      width: 120px;
      height: 120px;
      border-radius: 60px 60px 60px 60px;
    }
  }
  #navbar {
    height: 60px;
    background-color: $green;
    .nav-active {
      background-color: $black-light;
      box-sizing: border-box;
    }
    ul {
      position: relative;
      display: flex;
      margin: 0;
      padding: 0;
      height: 100%;
      li {
        display: block;
        width: 120px;
        height: 100%;
        text-align: center;
        overflow: hidden;
        line-height: 60px;
        font-size: 18px;
        list-style: none;
        transition: background-color 0.4s;
        a {
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          color: white;
        }
      }
      a:hover {
        background-color: rgba($black-light, .8);
        transition: background-color 0.4s;
      }
      .search {
        width: 180px;
        position: absolute;
        right: 8px;
        input {
          box-sizing: border-box;
          padding: 0 36px 0 8px;
          width: 100%;
          height: 80%;
          border: 0;
          color: white;
          background-color: darken($green, 5%);
          border-radius: 3px;
        }
        input:focus {
          background-color: darken($green, 10%);
        }
        input::placeholder {
          color: darken(white, 20%);
        }
        span {
          display: block;
          position: absolute;
          margin-top: -14px;
          top: 50%;
          right: 8px;
          width: 28px;
          height: 28px;
          cursor: pointer;
          font-size: 28px;
        }
      }
    }
  }
}
#banner:hover {
  #name {
    opacity: 1;
    visibility: visible;
    @include slow();
  }
  #avatar {
    opacity: 0;
    visibility: hidden;
    @include fast();
  }
}
#breadcrumb {
  margin: 0;
  padding: 0;
  ul {
    display: flex;
    margin: 0;
    padding-left: 24px;
    height: 36px;
    list-style: none;
    line-height: 36px;
    overflow: hidden;
    white-space: nowrap;
    background-color: $black-light;
  }
  li {
    color: $green;
    cursor: default;
  }
  a {
    display: flex;
    color: white;
  }
  a:after {
    content: '/';
    display: block;
    padding: 0 12px;
  }
}
#main {
  padding: 2px 0;
  width: 100%;
}
#pagination {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    margin: 4px 0;
    padding: 0;
    list-style: none;
    li {
      margin: 8px;
      padding: 2px;
      display: block;
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background-color: $black-light;
      border-radius: 1px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        color: white;
      }
    }
    .active {
      background-color: $green;
      cursor: default;
    }
    .disabled {
      color: darken($white, 40%);
      cursor: not-allowed;
    }
  }
}
#footer {
  padding: 2px 0;
  width: 100%;
  height: 100px;
  text-align: center;
}
.toTop {
  visibility: hidden;
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  font-size: 36px;
  text-align: center;
  cursor: pointer;
  background-color: $black-light;
  opacity: 0;
  @include slow()
}
.toTop-show {
  visibility: visible;
  opacity: 1;
  @include slow()
}
.card {
  position: relative;
  margin: 12px 0;
  padding: 0;
  color: $black-dark;
  background-color: white;
  .title {
    position: relative;
    margin: 0;
    height: 56px;
    line-height: 56px;
    font-size: 30px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: white;
    background-color: $black-light;
    transform: translateZ(0);
    a {
      display: block;
      padding-left: 24px;
      width: 0;
      height: 100%;
      text-align: center;
      white-space: nowrap;
      text-overflow:ellipsis;
      color: white;
      transition: all .5s ease-out;
    }
  }
  .title:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $green-light;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: all .5s ease-out;
  }
}
.card:hover {
  .title:before {
    content: '';
    transform: scaleX(1);
  }
  .title {
    a {
      padding-left: 0;
      width: 100%;
      transition: all .5s ease-out;
    }
  }
  .read-more {
    opacity: 1;
    @include slow();
  }
}
.info {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  text-align: right;
  span {
    margin: 0 8px;
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: lighten($black-light, 20%);
    i {
      margin-right: 6px;
      color: $black-dark;
    }
  }
  .null {
    color: white;
    background-color: lighten($black-light, 20%);
    cursor: default;
  }
}
.read-more {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  background: linear-gradient(to bottom, rgba(#fff, 0) 0%, rgba(#eee, 0.3) 20%, rgba(#bbb, 1)  100%);
  @include slow();
  a {
    display: block;
    width: 100%;
    line-height: 42px;
  }
  span {
    visibility: hidden;
  }
}
#post {
  position: relative;
  margin: 12px 0;
  padding: 0;
  color: black;
  background-color: white;
  .title {
    text-align: center;
    color: white;
    background-color: $green-light;
  }
  .title:before {
    content: none;
  }
}
.avatar-rotate {
  animation: rotate .8s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(365deg);
  }
}
.content {
  font-size: 16px;
  line-height: 28px;
  color: black;
  margin: 10px 13px 10px 13px;
  padding-bottom: 24px;
  h1, h2, h3, h4, h5, h6, p, blockquote {
    margin: 0;
    padding: 0;
  }
  table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
  }
  td,th {
    border: 1px solid #ddd;
    padding: 3px 10px;
  }
  th {
    padding: 5px 10px;
  }
  a {
    color: $green;
    text-decoration: none;
  }
  a:hover {
    color: $green;
    text-decoration: underline;
  }
  a img {
    border: none;
  }
  p {
    margin-bottom: 9px;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 48px;
  }
  h1 {
    padding-bottom: 16px;
    font-size: 28px;
  }
  h2 {
    margin: 16px 0;
    padding: 8px 0;
    font-size: 26px;
    border-bottom: 1px solid $white;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 19px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 17px;
  }
  hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid $white;
  }
  blockquote {
    margin: 16px 0;
    padding: 13px 13px 21px 15px;
    font-style: italic;
    border-left: 4px solid $green;
    background-color: $white;
  }
  blockquote p {
    margin-bottom: 0;
    font-style: italic;
  }
  code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
  }
  code {
    padding: 1px 3px;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  pre {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 16px;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 4px;
  }
  pre code {
    padding: 16px;
    font-size: 14px;
  }
  sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
  }
  * {
    -webkit-print-color-adjust: exact;
  }
  @media print {
    body,code,pre code,h1,h2,h3,h4,h5,h6 {
      color: black;
    }
    table, pre {
      page-break-inside: avoid;
    }
  }
}
.toc {
  z-index: -1;
  opacity: 0;
  position: absolute;
  width: 300px;
  left: -300px;
  top: 0;
  margin-top: 56px;
  font-size: 18px;
  overflow-y: auto;
  color: white;
  @include slow(opacity);
}
.toc > .toc-list {
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  li {
    box-sizing: border-box;
    list-style: none;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
  a {
    color: white;
    line-height: 36px;
  }
}
.toc-list {
  margin: 0;
  padding-right: 10px;
}
a.toc-link {
  height: 100%;
}
.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.is-collapsed {
  max-height: 0;
}
.is-position-fixed {
  z-index: 1;
  opacity: 1;
  position: fixed !important;
  top: 0;
  left: 0;
  @include slow(opacity);
}
.is-active-link {
  color: $green !important;
}
.toc-link::after {
  background-color: $black-dark;
  content: ' ';
  display: inline-block;
  height: inherit;
  right: 0;
  margin-top: -1px;
  position: absolute;
  width: 2px;
}
.is-active-link::after {
  background-color: $green;
}
.icon-next {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%3Csvg%20t%3D%221517216943422%22%20class%3D%22icon%22%20style%3D%22%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20p-id%3D%221032%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2248%22%20height%3D%2248%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text/css%22%3E%3C/style%3E%3C/defs%3E%3Cpath%20d%3D%22M2.257993%20493.371555%20415.470783%20906.584344%20512%201003.113561%20608.529217%20906.584344%201021.742007%20493.371555%20925.212789%20396.842337%20512%20810.055127%2098.787211%20396.842337Z%22%20p-id%3D%221033%22%20fill%3D%22%23ffffff%22%3E%3C/path%3E%3Cpath%20d%3D%22M2.257993%20117.980154%20415.470783%20531.192944%20512%20627.722161%20608.529217%20531.192944%201021.742007%20117.980154%20925.212789%2021.450937%20512%20434.663727%2098.787211%2021.450937Z%22%20p-id%3D%221034%22%20fill%3D%22%23ffffff%22%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 32px;
}
.icon-navicon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%3Csvg%20t%3D%221517275290087%22%20class%3D%22icon%22%20style%3D%22%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20p-id%3D%221898%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2248%22%20height%3D%2248%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text/css%22%3E%3C/style%3E%3C/defs%3E%3Cpath%20d%3D%22M950.857143%20768v73.142857q0%2014.857143-10.857143%2025.714286t-25.714286%2010.857143H109.714286q-14.857143%200-25.714286-10.857143t-10.857143-25.714286v-73.142857q0-14.857143%2010.857143-25.714286t25.714286-10.857143h804.571428q14.857143%200%2025.714286%2010.857143t10.857143%2025.714286z%20m0-292.571429v73.142858q0%2014.857143-10.857143%2025.714285t-25.714286%2010.857143H109.714286q-14.857143%200-25.714286-10.857143T73.142857%20548.571429V475.428571q0-14.857143%2010.857143-25.714285t25.714286-10.857143h804.571428q14.857143%200%2025.714286%2010.857143t10.857143%2025.714285z%20m0-292.571428v73.142857q0%2014.857143-10.857143%2025.714286t-25.714286%2010.857143H109.714286q-14.857143%200-25.714286-10.857143T73.142857%20256V182.857143q0-14.857143%2010.857143-25.714286t25.714286-10.857143h804.571428q14.857143%200%2025.714286%2010.857143t10.857143%2025.714286z%22%20p-id%3D%221899%22%20fill%3D%22%23ffffff%22%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position:  8px center;
  background-size: auto 28px;
}
.footer-info {
  padding: 12px;
  color: #FAFAFA;
  background-color: #07689F;
  border-radius: 8px;
  .tag {
    text-align: center;
    padding: 2px 8px;
    line-height: 28px;
    color: #FAFAFA;
    background-color: $green-light;
    border-radius: 4px;
  }
  .tag:hover {
    text-decoration: none;
  }
  a {
    color: #FAFAFA;
    font-weight: bold;
  }
  a:hover {
    color: #FAFAFA;
  }
}
#error {
  margin: 24px 0;
  padding: 120px 12px;
  text-align: center;
  background-color: $black-light;
  a {
    color: $green;
  }
}
@media only screen and (max-width: 1400px) {
  .toc {
    display: none;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 22px!important;
  }
  h2 {
    font-size: 20px!important;
  }
  h3 {
    font-size: 18px!important;
  }
  h4 {
    font-size: 16px!important;
  }
  h5 {
    font-size: 15px!important;
  }
  h6 {
    font-size: 15px!important;
  }
  p {
    font-size: 14px!important;
  }
  body {
    font-size: 14px;
  }
  #view {
    display: block;
    width: 100%;
  }
  #header {
    margin: 0;
    height: auto;
    #banner {
      display: none;
    }
    #navbar {
      position: fixed;
      display: flex;
      z-index: 1;
      flex-direction: column;
      top: 0;
      width: 100%;
      height: auto;
      background-color: rgba(0,0,0,0);
      ul {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        transform: translateY(-100%);
        transition: all .5s ease;
        li {
          width: 100%;
          height: 48px;
          line-height: 48px;
          background-color: $green;
          border-bottom: 1px solid darken($green, 10%);
        }
        li:first-child {
          border-top: 1px solid darken($green, 10%);
        }
        li:last-child {
          border: none;
        }
        .nav-active {
          border: none;
        }
        .search {
          position: relative;
          width: 100%;
          right: 0;
          input {
            margin: 0 auto;
            width: 98%;
          }
          span {
            right: 2%;
          }
        }
      }
    }
    #navbar.nav-show {
      ul {
        max-height: 100%;
        transform: translateY(0);
        transition: all .5s ease;
      }
    }
  }
  #main {
    margin-top: 48px;
  }
  #breadcrumb {
    display: none;
  }
  .card {
    .title {
      text-align: center;
      a {
        font-size: 22px;
        display: inline;
        padding-left: 0;
        width: 100%;
      }
    }
  }
  .number {
    display: none!important;
  }
  .toTop {
    bottom: 12px;
    right: 12px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 32px;
  }
  .mobile-header {
    width: 100%;
    text-align: center;
    height: 48px;
    line-height: 48px;
    cursor: default;
    background-color: $green;
    z-index: 2;
    h1 {
      margin: 0;
    }
  }
}